{% extends 'myapp/base.html' %}

{% block content %}

<div class="ml-[200px]"> 
    <h1 class="text-2xl m-10 font-bold text-green-600">Profile</h1>
    {% if user.profile %}
    <div class="flex p-10 h-200">
        <div class="w-1/3" >
            <div class="rounded shadow-lg">
                <img src="{{user.profile.image.url}}" alt="profile photo">
            </div>
        </div>
        
        <div class="w-1/3 text-xl ml-10 mt-5">
            <p class="w-full shadow appearance-none border rounded py-2 px-3 mr-10 mb-10 text-gray-700">{{user.username}}</p>
            <p class="w-full shadow appearance-none border rounded py-2 px-3 mr-10 mb-10 text-gray-700">{{user.email}}</p>
            <p class="w-full shadow appearance-none border rounded py-2 px-3 mr-10 mb-10 text-gray-700">{{profile.phone_number}}</p>
        </div>

    </div>
    
    {% else %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="flex p-10 h-200">
            <div class="w-1/3" >
                <div class="rounded shadow-lg">
                    <input type="file" name="image">
                </div>
            </div>
            
            <div class="w-1/3 text-xl ml-10 mt-5">
                <p class="w-full shadow appearance-none border rounded py-2 px-3 mr-10 mb-10 text-gray-700">{{user.username}}</p>
                <p class="w-full shadow appearance-none border rounded py-2 px-3 mr-10 mb-10 text-gray-700">{{user.email}}</p>
                <input class="w-full shadow appearance-none border rounded py-2 px-3 mr-10 mb-10 text-gray-700" type="text" placeholder="Enter Phone Number" name="phone_number">
                
                <button class="block bg-green-600 text-white p-3 mt-4 rounded" type="submit">Save</button>
            </div>
            
            
        </div>
    </form>

    {% endif %}
</>




{% endblock content %}